# Printing the output

In [41]:
print("hello, world!")
a = 1
print('a =', a)
a

hello, world!
a = 1

1

# Type of the object
Use `type()` operator to get the name of the object/variable type.

In [42]:
a = 1
type(a)

int

In [43]:
print(type(a))

<class 'int'>

# Identity of the object

`id()` built-in function returns the “identity” of an object. This is an integer which is guaranteed to be unique and constant for this object during its lifetime. Depending on its implementation, it might be the address of the object in memory.

In [44]:
print(a)
id(a)

1

94719299639712

In [45]:
a = a + 1
b = a
print(b)
id(b)

2

94719299639744

# Tuple

* its elements can be of different type
* immutable (data structure can't be expanded or shrunk)
* operator `+` allows copying it into a new object with appended new elements

In [46]:
t = "1", 2, "three"
t

('1', 2, 'three')

Accessing the elements is via index operator:

In [47]:
t[2], t[1], t[0]

('three', 2, '1')

It is not possible to modify elements:

In [48]:
t[0] = 'zero'

TypeError: 'tuple' object does not support item assignment

The workaround is to change tuple to a list, change the element in the list and then convert te list back to tuple:

In [ ]:
l = list(t)
l[0] = 'zero'
t = tuple(l)
t

Operator `+` allows expanding via copying into a new object:

In [ ]:
t2 = t + ('four',)
t2

`t` and `t2` are different objects:

In [ ]:
id(t), id(t2)

# array.array

* data structure similar to arrays in other programming languages
* its elelements must all be of the same type
* we need to import `array.array`

In [ ]:
from array import array

To declare array, its first meta-element is unicode character that declares the type of the elements:

In [ ]:
ar = array('i', (1, 2, 3))
ar

Accessing each element goes via indexing operator:

In [ ]:
ar[0]