 Three basic sequence types in Python are:
* tuple
* range
* list

# Tuple

* its elements can be of different type
* immutable (data structure can't be expanded or shrunk)
* operator `+` allows copying it into a new object with appended new elements

In [2]:
t = "1", 2, "three"
t

('1', 2, 'three')

Accessing the elements is via index operator:

In [104]:
t[2], t[1], t[0]

('three', 2, '1')

To unpack a tuple into multiple variables:

In [4]:
a, b, c = t
print(f'a = {a}, b = {b}, c = {c}')
print(f'type(a) = {type(a)}, b = {type(b)}, c = {type(c)}')

a = 1, b = 2, c = three
type(a) = <class 'str'>, b = <class 'int'>, c = <class 'str'>

It is not possible to modify elements:

In [105]:
# t[0] = 'zero' 
# TypeError: 'tuple' object does not support item assignment

The workaround is to change tuple to a list, change the element in the list and then convert te list back to tuple:

In [106]:
l = list(t)
l[0] = 'zero'
t = tuple(l)
t

('zero', 2, 'three')

Operator `+` allows expanding via copying into a new object:

In [107]:
t2 = t + ('four',)
t2

('zero', 2, 'three', 'four')

`t` and `t2` are different objects:

In [108]:
id(t), id(t2)

(140160765080848, 140160756223016)

# Range

`range(begin[, end, step])` function creates an object of the `range` type (an immutable sequence of integers) including `begin` but not `end` with `step` being a difference between each two consecutive elements. Its arguments can be only integers.

In [109]:
r = range(5, 16, 2)
r

range(5, 16, 2)

In [110]:
type(r)

range

To print all values in rnage object we need to flatten it:

In [111]:
print(*r)

5 7 9 11 13 15

Range type is an _iterable_ type so we can use `for` loop:

In [112]:
for e in r:
    print(e)

5
7
9
11
13
15

# List
* can store elements of multiple types (like tuple)
* it is mutable: it can be modified in-place
* is is dynamic: its size can change

In [113]:
l = [1, 'two', 3]
l

[1, 'two', 3]

In [114]:
type(l)

list

Elements can be accessed via indexing operator:

In [115]:
l[1]

'two'

Elements can be changed via indexing operator:

In [116]:
l[2] = 4
l

[1, 'two', 4]

Any element can be deleted via `del` operator:

In [117]:
del l[0]
l

['two', 4]

A new element can be added at the end via `list.append()` function:

In [118]:
l.append('five')
l

['two', 4, 'five']

To generate list automatically, we can use `range(begin[, end, step])` function:

In [119]:
l = [range(5, 16, 2)]
l

[range(5, 16, 2)]

In [120]:
type(l)

list

To get a list of auto-generated value, we can use a range object:

In [121]:
l = [range(5, 16, 2)]
l

[range(5, 16, 2)]

...but we need to use argument-unpacking operator `*`:

In [122]:
l = [*range(5, 16, 2)]
l

[5, 7, 9, 11, 13, 15]

# array.array

* data structure similar to arrays in other programming languages
* its elelements must all be of the same type
* elements can be modified (via indexing operator)
* we need to import `array.array`

In [123]:
from array import array

To declare array, its first meta-element is unicode character that declares the type of the elements.
'i' - integer
'u' - unicode char
'f' - float
(for full list see )

In [124]:
ar = array('i', (1, 2, 3))
ar

array('i', [1, 2, 3])

Accessing each element goes via indexing operator:

In [125]:
ar[0]

1

Modifying element goes via indexing operator:

In [126]:
ar[1] = 7
ar

array('i', [1, 7, 3])

It is possible to remove any element of this array via `del` operator. 
This tells us that this array type is under the bonnet implemented as a list.

In [127]:
del ar[1]
ar

array('i', [1, 3])

It is possible to append a new element at the end of the array via `array.append()` function:

In [128]:
ar.append(4)
ar

array('i', [1, 3, 4])

NOTE: to get a help with function syntax, type e.g. `ar.append` and hit `SHIFT`+`TAB`.

To create an array with the automatically generated sequence of values, we can use use a range object. But we need to expand it:

In [129]:
array('i', [*r])

array('i', [5, 7, 9, 11, 13, 15])