# Tuple

* its elements can be of different type
* immutable (data structure can't be expanded or shrunk)
* operator `+` allows copying it into a new object with appended new elements

In [36]:
t = "1", 2, "three"
t

('1', 2, 'three')

Accessing the elements is via index operator:

In [37]:
t[2], t[1], t[0]

('three', 2, '1')

It is not possible to modify elements:

In [38]:
# t[0] = 'zero' 
# TypeError: 'tuple' object does not support item assignment

The workaround is to change tuple to a list, change the element in the list and then convert te list back to tuple:

In [39]:
l = list(t)
l[0] = 'zero'
t = tuple(l)
t

('zero', 2, 'three')

Operator `+` allows expanding via copying into a new object:

In [40]:
t2 = t + ('four',)
t2

('zero', 2, 'three', 'four')

`t` and `t2` are different objects:

In [41]:
id(t), id(t2)

(140160765079984, 140160756081592)

# array.array

* data structure similar to arrays in other programming languages
* its elelements must all be of the same type
* elements can be modified (via indexing operator)
* we need to import `array.array`

In [42]:
from array import array

To declare array, its first meta-element is unicode character that declares the type of the elements.
'i' - integer
'u' - unicode char
'f' - float
(for full list see )

In [43]:
ar = array('i', (1, 2, 3))
ar

array('i', [1, 2, 3])

Accessing each element goes via indexing operator:

In [44]:
ar[0]

1

Modifying element goes via indexing operator:

In [45]:
ar[1] = 7
ar

array('i', [1, 7, 3])

It is possible to remove any element of this array via `del` operator. 
This tells us that this array type is under the bonnet implemented as a list.

In [46]:
del ar[1]
ar

array('i', [1, 3])

It is possible to append a new element at the end of the array via `array.append()` function:

In [47]:
ar.append(4)
ar

array('i', [1, 3, 4])

NOTE: to get a help with function syntax, type e.g. `ar.append` and hit `SHIFT`+`TAB`.

# List
* can store elements of multiple types (like tuple)
* it is mutable: it can be modified in-place
* is is dynamic: its size can change

In [48]:
l = [1, 'two', 3]
l

[1, 'two', 3]

In [49]:
type(l)

list

Elements can be accessed via indexing operator:

In [50]:
l[1]

'two'

Elements can be changed via indexing operator:

In [51]:
l[2] = 4
l

[1, 'two', 4]

Any element can be deleted via `del` operator:

In [52]:
del l[0]
l

['two', 4]

A new element can be added at the end via `list.append()` function:

In [53]:
l.append('five')
l

['two', 4, 'five']

To generate list automatically, we can use `range(begin[, end, step])` function. It creates a sequence of values including begin but not end with step being a difference between each two consecutive elements:

In [54]:
r = range(5, 16, 2)
r

range(5, 16, 2)

In [55]:
type(r)

range

In [59]:
l = [range(5, 16, 2)]
l

[range(5, 16, 2)]

In [60]:
type(l)

list

To get a list of elements, we need to use argument-unpacking operator `*`:

In [62]:
l = [*range(5, 16, 2)]
l

[5, 7, 9, 11, 13, 15]